! Command: show running-config
! device: leaf03 (vEOS, EOS-4.20.12.1M)
!
! boot system flash:/vEOS-lab.swi
!
transceiver qsfp default-mode 4x10G
!
!
hostname leaf03
ip domain-name ansible.test
!
ntp server 192.168.0.100
ntp server ansible-nettime prefer
!
!
spanning-tree mode mstp
!
no aaa root
!
username admin privilege 15 role network-admin secret sha512 $6$luJKVIjrDmCf55XD$6DU7AeqoK5atc6N4bzVtTquoDk0hF/S2yFu5rQZen7J.uRnf.l2/oVo/av.95bYpMLkKv0FFRvL/DJudyxgGW0
!
vrf definition Mgmt
!
interface Ethernet1
!
interface Ethernet2
!
interface Ethernet3
!
interface Ethernet4
!
interface Ethernet5
!
interface Ethernet6
!
interface Ethernet7
!
interface Ethernet8
!
interface Ethernet9
!
interface Ethernet10
!
interface Ethernet11
!
interface Ethernet12
!
interface Management1
   vrf forwarding Mgmt
   ip address 10.10.30.116/24
!
ip route vrf Mgmt 0.0.0.0/0 Management1
!
ip routing
ip routing vrf Mgmt
!
end